article{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5rem 10rem;
    width: 100%;
    gap: 3rem;
}
.profile-pic-little{
    width: 2.5rem;
    height: 2.5rem;
}
.right-side{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2.5rem;
}
.left-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.favourites h2{
    font-size: 1.65rem;
    font-weight: 600;
}
.text-box h1{
    font-size: 2rem;
    font-weight: 700;
}
.text-box p{
    margin-top: -0.5rem;
}
.li{
    display: flex;
    gap:0.5rem;
    width: 100%;
    margin-bottom:0.25rem;
}
.li img{
    display: inline-block;
}
.res{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.res-n{
    font-weight: 550;
}
hr{
    width: 100%;
}
.edit{
    background-color: rgb(0, 119, 255);
    padding: 0.5rem 1rem;
    color: white;
    margin-top: 1rem;
    transition: all .2s ease-in;
}
.edit:hover{
    background-color: rgb(104, 131, 252);
}
.over{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.795);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
}
.form{
    background-color: rgba(255, 255, 255, 0.938);
    padding: 1rem;
    width: 25%;
    border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:0.25rem;
}
input{
    border: 1px solid rgba(43, 35, 35, 0.171);
    padding: 0.5rem !important;
    width: 100%;
    background-color: transparent;
}
form h3{
    margin-top: 2rem;
    font-weight: 550;
}
form h2{
    font-weight: 650;
    font-size: 1.5rem;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top img{
    display: inline-block;
}
.change-img,
.change-pw{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top img{
    cursor: pointer;
}
.img-top,
.pw-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    transition: all .2s ease-in;
}
.img-top:hover,
.pw-top:hover{
    background-color: rgb(228, 228, 228);
}
input[type='submit']{
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    transition: all .2s ease-in;
    cursor: pointer;
    border-radius: 0.5rem;
}
input[type='submit']:hover{
    background-color: rgb(104, 131, 252);

}

.img-bottom,
.pw-bottom{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
}

.img-bottom{
    padding-bottom: 0.5rem;
}
input[type='password']{
    margin-top: 0.5rem;
}
input[type='file']{
    background-color: transparent;
}
input[type='file']{
    cursor: pointer;
    margin-top: 0.5rem;
    padding:0 !important;
}
.stats2{
    display: none;
}
@media (max-width:1160px) {
article{
    
    padding: 2.5rem 5rem;
} 
    .form{
        width: 80%;
    }
}
@media (max-width:800px) {
       
    .text-box,
    .right-side,
    article{
        width: 100%;
    }
    .text-box,
    .right-side,
    article,
    .left-side{
        flex-direction: column !important;
        justify-content: center !important;
        align-self: center  !important;
        text-align: center;
    }
    img.profile-pic{
        text-align: center;
    }
    .stats2{
        margin-top: 2rem;
        display: block;
        width: 100% !important;
    }
    .stats{
        display: none;
    }
}