*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif
}
nav{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.75rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
article{
    position: relative;
    padding:1rem;
}
.side-bar{
    width: 20rem;
    position: fixed;
}
.main{
    margin-left:20rem;
    padding: 0.5rem;
}
.side-item img{
    display:block;
}
.side-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5rem;
    width: 100%;
    padding:0.5rem;
    border-radius: 0.5rem;
    transition: all .2s ease-in;
    cursor: pointer;
    margin-bottom: 0.25rem;
}
.side-item:hover{
    background-color: rgb(218, 218, 218);
}
.special{
    flex-direction: column;
    width: 100%;
}
.bottom{
    width: 100%;
    display: none;
    flex-direction: column;
}
.show{
    display: flex;
}
.show-arrow{
    transform: rotateX(180deg)
}
.side-item::selection{
    background-color: transparent;
}
.side-item-many{
    display: flex;
    margin-left:1rem;
    gap:0.5rem;
    width: 88%;
    margin-bottom: 0.25rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    transition: all .2s ease-in;
}
.side-item-many:hover{
    background-color: rgb(247, 247, 247);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5rem;
}
.main h1{
    font-size: 2rem;
    font-weight: 450;
}
.main p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.question-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    transition: all .2s ease-in;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.question-card:hover{
    transform: translateY(-2px);
}
.subject{
    font-weight: 600;
    margin: 0 !important;
}
.answer-question{
    height: 100%;
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all .2s ease-in;
    border: 1px solid rgb(0, 102, 255);
}
.answer-question:hoveR{
    background-color: #fff;
    color: rgb(0, 102, 255);
}
body{
    position: relative;
}
.answerModal{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.932);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;

}
.hide{
    display: none;
}
.ans-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}
.f-row-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    width: 100%;
}
.lsls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
.s-row-form{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.questionSubj{
    font-weight: 600;
    font-size: 1.1rem;
}
textarea{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.349);
    width: 100%;
    height: 10rem;
    padding: 0.25rem !important;
    content: '' !important;
}
input[type="submit"]{
    background-color: rgb(0, 102, 255);
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    width: 20%;
    cursor: pointer;
}
.answer-later{
    border: 1px solid white;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    width: 20%;
    cursor: pointer;
    z-index: 10;
}