.hero-box,
.air,
.item,
.item-floating
{
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    position: relative;
}
/* header */

header{
    height: 90vh;
    position: relative;
    width: 100%;
}
header video{
    position: absolute;
    top: 0;
    filter: brightness(30%);
    height: 100%;
}
.hero-box{
    position: absolute;
    bottom: 5rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    flex-direction: column;
    	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.hero-box h1{
    font-weight: 700;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
}
.hero-box p{
    text-align: center;
    width: 70%;
}
.hero-box a{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 1px solid white;
    transition: all .2s ease-in;
    margin-top: 1rem;
}
/* article - air */

.air{
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
    padding-top: 1.5rem;
    color: black;
    text-align: center;

}
.image-wrapper-air{
    background: url("../imgs/hero/air17.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 45vh;
}
.air h2{
    font-size: 2.25rem;
}
.air-box h2,
.air-box p{
    background-color: transparent;
}
/* article - air */

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(700px,1fr));
    gap: 1.5rem;
}
.item{
    background-color: rgb(250, 250, 250);
    width: 100%;
    position: relative;
    text-align: center;
    transition: all .2s ease-in;
}
.item-floating{
    position: absolute;
    flex-direction: column;
    top:1rem;
    width: 100%;
    left:50%;
    transform: translateX(-50%);
}
.item img{
    width: 100%;
}
.item h2{
    font-size: 2.25rem;
    font-weight: 550;
}
.item p{
    font-size: 1.15rem;
}
.floating-btns{
    margin-top: 1.5rem;
}
.floating-btns a{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    z-index: 1;
    transition: all .2s ease-in;
}

.learn-more{
    background-color: rgb(75, 108, 255);
    border:1px solid rgb(75, 108, 255) !important;
    color: white !important;
}
/* a n i m a t i o n s */

.floating-btns a:hover{
    background-color: black;
    color: white;
}
.learn-more:hover{
    background-color: transparent !important;
    color: rgb(75, 108, 255) !important;
}

.item:hover{
    background-color: #ebebeb;
}
.nav-link:hover{
    color: black;
}
.hero-box a:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.msgIsland{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    color: black;
    position: absolute;
    top: 0.5rem;
    left:50%;
    margin-top: -5rem;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    gap:1rem;
    animation: msgIsland 3.3s ease-in-out forwards;
}
.msgIsland img{
    display: inline-block;
}
@keyframes msgIsland {
    0%{
        margin-top: -5rem;
        opacity: 0;
    }
    15%{
        margin-top: 0rem;
        opacity: 1;
    }
    85%{
        opacity: 1;
        margin-top: 0rem;
    }
    100%{
        margin-top: -5rem;
        opacity: 0;
        display: none;
    }
}
/* r e s p o n s i v e */

@media (max-width:1420px) {
    main{
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    }
}
@media (max-width:1025px) {
    main{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    .item-floating h2{
        font-size: 1.85rem;
    }
    .item-floating p{
        font-size: 1rem;
    }
    .floating-btns a{
        font-size: 0.9rem;
    }
    .floating-btns{
        margin-top: 0.5rem;
    }
    .item{
        padding-top: 5rem;
    }
}
@media (max-width:725px) {       
    .hero-box{
        width: 100%;
    }
    .hero-box p{
        width: 100%;
    }
}@media (max-width:765px) {       
    .hero-box h1{
        font-size: 2.75rem;
    }
    .hero-box p{
        font-size: 0.9rem;
    }
}
@media (max-width:690px) {
    .air{
        background-color: #fafafa;
    border-bottom: 1px solid transparent;
    }
    .image-wrapper-air{
        background-image: url("../imgs/hero/air17resp.jpg");
        background-size: cover;
    }
}
@media (max-width:350px) {
    main{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}
/**/