main{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.text h1{
    font-weight: 600;
    font-size: 2rem;
}
.messages{
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-auto-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:0.5rem;
}
.message{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:0.5rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(223, 223, 223);
    cursor: pointer;
    transition: all .2s ease-in;
}
.message:hover{
    background-color: rgb(233, 233, 233);
}
.answered-box{
    display: flex;
    flex-direction: column;
}
.answered{
    font-weight: 600;
}
p.text{
    font-size: 0.9rem;
}
.subject{
    font-weight: 600;
}
body{
    position: relative;
}
.msg-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: black;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;    
}
.message-view{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap:1rem;
    padding:1.5rem;
    border-radius: 1.5rem;
}
.message-view-first-row{
    display: flex;
    flex-direction: column;
}
.answeredBy{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
}
.subj{
    display: flex;
}