:root {
  --montserrat: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
}
body {
  position: relative;
}
nav,
nav ul,
.nav-right,
.hambi-navigation,
.hn-first {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
nav ul {
  gap: 1.5rem;
  flex-wrap: wrap;
  font-size: 1rem;
  list-style: none;
}
a.nav-link {
  text-decoration: none;
  color: rgb(58, 58, 58);
  transition: all 0.2s ease-in;
  position: relative;
}
nav > ul > li {
  opacity: 0;
  transform: translateY(-5rem);
  animation: fromTop 0.6s cubic-bezier(0.22, 0.9, 0.28, 1) forwards !important;
}

nav > ul > li:nth-child(1) {
  animation-delay: 0.1s !important;
}
nav > ul > li:nth-child(2) {
  animation-delay: 0.2s !important;
}
nav > ul > li:nth-child(3) {
  animation-delay: 0.3s !important;
}
nav > ul > li:nth-child(4) {
  animation-delay: 0.4s !important;
}
nav > ul > li:nth-child(5) {
  animation-delay: 0.5s !important;
}
nav > ul > li:nth-child(6) {
  animation-delay: 0.6s !important;
}
nav > ul > li:nth-child(7) {
  animation-delay: 0.7s !important;
}
nav > ul > li:nth-child(8) {
  animation-delay: 0.8s !important;
}
nav > ul > li:nth-child(9) {
  animation-delay: 0.9s !important;
}
nav > ul > li:nth-child(10) {
  animation-delay: 1s !important;
}
nav > ul > li:nth-child(11) {
  animation-delay: 1.1s !important;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: black;
  width: 0;
  content: "";
  transition: all 0.2s ease-in;
}
.nav-link:hover::after {
  width: 100%;
}
.logo {
  animation: opacity 0.7s ease-in forwards;
}
.nav-right {
  gap: 1rem;
  animation: opacity 0.7s ease-in forwards;
}
.nav-right a {
  cursor: pointer;
}
.hambi {
  display: none;
  animation: opacity 0.3s ease-in forwards;
}
.hambi-navigation {
  background-color: #fff;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 1rem 1.5rem;
  opacity: 0;
  animation: fromRight 0.6s ease-in forwards !important;
}
.hn-first {
  justify-content: space-between;
  width: 100%;
}
.backdrop {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-color: transparent;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(7px);
}
.hn-second ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
}
.hn-second {
  width: 100%;
}
.hn-second .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
}
.hn-second .nav-link img {
  display: inline-block;
}
.nav-link:hover {
  color: black;
}
.hero-box a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.nav-icon{
  transition: all .2s ease-in;
}
.user-menu{
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in;
}
.user-dropdown{
  display: none;
  position: absolute;
  top:2rem;
  right: 0;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.75rem;
  padding: 0.75rem;
  width: 20rem;
}
.showDropdown{
  display: block;
}
.user-about{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.75rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  cursor: default;
}
.user-name-n-r{
  display: flex;
  flex-direction: column;
}
.user-img{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
}
.user-img img{
  border-radius: 100px;
}
.role{
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: -5px;
}
.r-sa{
  color:rgb(255, 52, 52);
}
.r-a{
  color:rgb(181, 71, 255);
}
.r-s{
  color:rgb(255, 156, 8);
}
.r-g{
  color:rgb(160, 52, 9);
}
.um-item img,
.user-img img{
  display: inline-block;
}
.um-item{
  display: flex;
  justify-content: space-between;
  align-items: ceter;
  transition: all 0.2s ease-in;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
}
.um-item:hover{
  background-color: #e7e7e7;
}
.left-um-item{
  display: flex;
  gap: 0.5rem;
}
.user-dropdown hr{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.profile-pic-little,
.profile-pic{
    display: inline-block;
    width: 15rem;
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    border-radius: 120px;
}
.profile-pic-little{
    width: 2.5rem;
    height: 2.5rem;
}
.msgIsland{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    color: black;
    position: absolute;
    top: 0.5rem;
    left:50%;
    margin-top: -5rem;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    gap:1rem;
    animation: msgIsland 3.3s ease-in-out forwards;
}
.msgIsland img{
    display: inline-block;
}
@keyframes msgIsland {
    0%{
        margin-top: -5rem;
        opacity: 0;
    }
    15%{
        margin-top: 0rem;
        opacity: 1;
    }
    85%{
        opacity: 1;
        margin-top: 0rem;
    }
    100%{
        margin-top: -5rem;
        opacity: 0;
        display: none;
    }
}
@keyframes fromLeft {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromTop {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1170px) {
  .hambi {
    display: flex;
  }
  .bag,
  .search,
  nav ul {
    display: none;
  }
}
@media (max-width: 500px) {
  .user-dropdown {
    position: fixed; 
    top: 4rem;
    right: 5px;
    left: 5px;
    width: auto;
    right: 5px;
  }
}