* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.error {
  color: red;
  text-align: left;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}
.text h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[type="email"],
input[type="password"] {
  border: 1px solid black;
}
input[type="submit"] {
  background-color: rgb(50, 70, 255);
  border: 1px solid rgb(50, 70, 255);
  color: white;
  border-radius: 5px;
  padding: 0.75rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
p a {
  color: rgb(6, 31, 255);
}
input[type="submit"]:hover {
  color: rgb(50, 70, 255);
  background-color: white;
}
